@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}

.swal-overlay {
    background-color: #315343;
}

.swal-button {
    background-color: #315343;
    border-radius: 5px;
}